@model ServiceManager.MVC.Models.EstateViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EstateViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InspectorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InspectorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnderContract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnderContract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstateId)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-estateId="@Model.EstateId">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
